/** @format */

.Page404 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 5px;
  background-color: #000;
}
.empty {
  color: #fff;
}
