/** @format */
/* .home {
  background: url("/assets/images/bg.JPG") no-repeat;
  filter: grayscale(100%);
  background-position: center 100%;
  background-size: cover;
  left: 0;
  right: 0;
  min-height: 100vh;
} */

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #fff;
  color: #3a3535;
}

.homeTitle {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;
  font-family: "Prata", serif;
  font-size: 6vw;
  width: 100%;
  z-index: 2;
  animation: outer-left 1s 1s ease both;
}
.homeTitle-inner {
  display: inline-block;
}

.cafe,
.mozart {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.cafe-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.mozart-inner {
  display: inline-block;
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.image {
  grid-row: 1;
  grid-column: 2;
  margin-left: -10rem;
  opacity: 0.7;

  animation: image-in 3s cubic-bezier(0.5, 0, 0.1, 1) 1.5s backwards;
}

@keyframes image-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.aliImage {
  background: url("/assets/images/bg.JPG") no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  display: block;
  min-height: 100vh;
}
