/** @format */
.home {
  background: url("/assets/images/bg.JPG") no-repeat;
  filter: grayscale(100%);
  background-position: center 100%;
  background-size: cover;
  left: 0;
  right: 0;
  min-height: 100vh;
}
