/** @format */

.footer {
  position: sticky;
  background-color: #000;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.Powered a {
  text-decoration: none;
  color: #fff;
}

.Powered a:hover {
  color: #fff;
}
